
  <%= form_with model: @book do |f| %>
  <p>
    <%= f.label :title%>
    <%= f.text_field :title, placeholder: "Book Title"%>
  </p>
  <p>
    <%= f.label :author_id%>
    <%= f.collection_select :author_id, @authors, :id, :full_name %>
  </p>
  <p>
    <%= f.label :genres%>
    <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
  </p>
  <p>
    <%= f.label :cover%>
    <%= f.file_field :cover%>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>